<link rel="stylesheet" media="screen" href="stylesheets/style.css" />
<link rel="stylesheet" media="screen" href="stylesheets/font-awesome.min.css" />  

<script type="text/javascript" src="javascripts/jquery-1.11.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script> 
<script type="text/javascript" src="javascripts/general.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.alerts.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>	
<link href="stylesheets/buttons.dataTables.min.css" type="text/css" rel="stylesheet">
<script src="javascripts/jquery.dataTables.min.js" language="javascript" type="text/javascript"></script>
<script src="javascripts/dataTables.buttons.min.js" language="javascript" type="text/javascript"></script> 



<div class="left">    
    <form id="spot_type_form">
    <div class="form_default">
				<p>
				    <p>
                    	<label for="acc_no" style="color:white">Account Number<span class="mandatory">*</span></label>
                        <input type="text" name="acc_no" maxlength="20" id="acc_no" class="sf" />
                        <input type="hidden" name="id" id="id"  class="sf" />
                        <input type="hidden" name="identity" id="identity"  class="sf" />
                    </p>

				    <p>
						<label style="color:white">Account Holder Name</label> 
						<input type="text" id="name" class="mf" />
					</p>
					<p>
						<label style="color:white">DOB</label> 
						<input type="text" id="dob" class="mf" />
					</p>
                     <p>
						<label style="color:white">PAN No</label> 
						<input type="text" id="pan_no" class="mf" />
					</p>
					<!--U can add still more paragraphs with all extradetails as u want"-->
                   					
				</p>
				<p>
						<label></label>
						<button type="button" id="saveaccount" onclick="saveAccount()" class="similar_add"><i class="fa fa-floppy-o" aria-hidden="true" style="display:inline;padding-right:2px;"></i> CREATE
						</button>
						<button type="reset" class="cancel similar_cancel" style="margin-left: 25px;"><i class="fa fa-times " aria-hidden="true" style="display:inline;padding-right:2px;"></i> Cancel
						 </button>
					</p>
     </div>
     </form>
     </div>
<script>


    

	$(document).ready(function(){


      function saveAccount(){
      
			console.log("transfffffffffffffffffffffff")
				var acc_no = $('#acc_no').val();

				
					value = {};
					if(!acc_no){
						jAlert("Empty Account Number");
						return false;
					} else {
					    value["acc_no"] = acc_no
					}
					value["name"]  = $('#name').val();
					value["dob"] = $("dob").val();
					value["pan_no"] = $("pan_no").val();
					$.ajax({
						url : "/account",
						type : 'POST',
						dataType:"json",
						data : JSON.stringify(value),
						success : function(data) {
						
								$('#main').load("admin_accounts_display.html");
						},
						error: function(xhr, status, text) {
				               var response = $.parseJSON(xhr.responseText);
			         	       var err = response.errors;
				
				          //  if (response) {
				          if(err.toString()=='session_expired'){
				        	window.location.href= "index.html";
				        } 
				        else{	
				                jAlert(err.toString());
				            }
				        }
					});
				

    }
		 $(".cancel").click(function(){
				window.location.href= "admin_accounts_display.html";
		 });
 </script>
