<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login Page</title>
<link rel="stylesheet" media="screen" href="stylesheets/style.css" />
<link rel="stylesheet" media="screen" href="stylesheets/font-awesome.min.css" />  

<script type="text/javascript" src="javascripts/jquery-1.11.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script> 
<script type="text/javascript" src="javascripts/general.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.alerts.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>	


<style>
.loginbox .username { border: 0; background-position: 0 -32px; text-transform: none;background-color: #eeeeee;}
.loginbox .password { border: 0; background-position: 0 -32px; width: 190px; margin-right: 10px; text-transform: none;background-color: #eeeeee;}
i{position: absolute;background-color: #c9c9c9;padding: 9.5px 12px;border-right: 1px solid #b2b2b2; border-radius: 5px 0 0 5px;
}
</style>

<script>
function preventBack(){
	window.history.forward();
}
setTimeout("preventBack()", 0);
window.onunload=function(){null};

$(document).ready(function(){

	$("#error").hide();
	$("#login").click(function(){
		console.log("loginednnnnnnnnn")

			value = {};
			value["username"] = $("#userName").val();
			value["password"] = $("#password").val();	
		    console.log("valuddddddd"+value)
			jQuery.ajax({
				type : "POST",
				url : "sessions",
				dataType:"json",
				async:false,
				data : JSON.stringify(value),

				statusCode: {
			        400: function() {
			          $("#error").show();
			        }
			    },
				success : function(data) {
					user_info = data.users
					sessionStorage.setItem("user_id",user_info._id);
					console.log("Login page::::::::::::::::"+user_info.role)
					window.location.href= "admin_accounts_display.html";
					/*if(user_info!=undefined && user_info!=null){
						sessionStorage.setItem("user_type", user_info.role);
						console.log("set user type")
						window.location.href= "home.html";
					}*/
					
					
				},
				error: function(xhr, status, text) {
				       var response = $.parseJSON(xhr.responseText);
				       var err = response.errors;
				
				       
	            } 				
			});
		});
	
	$('#password').keypress(function(event) {
	if (event.keyCode == 13) {
		$( "#login" ).trigger( "click" );
	}
});


});	
</script>


</head>

<body class="index" style="overflow:hidden;">
<div class="loginlogo">
	
</div>


<div class="notification notifyError loginNotify" id="error" style="display:none;font-size:17px">
 Invalid Username and Password
</div>

	<div class="loginbox">
		<div class="loginbox_inner">
	    	<div class="loginbox_content">
	    	<form  method="post">

	           <i class="fa fa-user"></i><input type="text" name="userName" id="userName" placeholder="username" class="username" autofocus 	 />
	           <i class="fa fa-key"></i><input type="password" name="password" placeholder="password" id="password" class="password" />
	            
	            <button type="button" onclick="location.href='account_transactions.html'" name="button" id="login">Login</button>
	           
	         </form>
	        </div><!--loginbox_content-->
	    </div><!--loginbox_inner-->
	</div><!--loginbox-->
	<!-- <div class="loginoption">
		 <a href="" class="cant">Can't access your account?</a>
	    <input type="checkbox" name="remember" /> Remember me on this computer.
	</div> --><!--loginoption-->
	
</body>

</html>



