	<link rel="stylesheet" media="screen" href="stylesheets/style.css" />
<link rel="stylesheet" media="screen" href="stylesheets/font-awesome.min.css" />  

<script type="text/javascript" src="javascripts/jquery-1.11.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script> 
<script type="text/javascript" src="javascripts/general.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.alerts.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>	
<link href="stylesheets/buttons.dataTables.min.css" type="text/css" rel="stylesheet">
<script src="javascripts/jquery.dataTables.min.js" language="javascript" type="text/javascript"></script>
<script src="javascripts/dataTables.buttons.min.js" language="javascript" type="text/javascript"></script> 
<link rel='stylesheet' type="text/css" href='stylesheets/reports/telecast_certificate.css' />

	<style>
	   .effect  { border: 4px solid rgb(255, 255, 255); }

	   .people	h3 {background: none repeat scroll 0% 0% #a6d4e6; color: white; margin-top: -20px; margin-left: -1px; padding-top: 5px; padding-bottom: 5px;}
	  .userModal {height: auto; }
	  .inactiveRow{background: #D3CDCD}
	  .inactiveRow:hover{background: #D3CDCD}
	  #userModal{height:auto;}
	  .maincontent .left{overflow: hidden;}	
	  
	  .form_default fieldset{
			background-color: #EEEEEE;
		}
		.add_plus_icon{
			font-size: 18px;
		    position: relative;
		    top: 3px;
		    left: 3px;
		    color: #555;
		}
		#channelModal th{
			color: #666;
		}
		
		#channelAdd:hover{
			color:#fff;
		}
		.innerclass{
			padding:3px;font-size: 25px;

		}	 
	  
	</style>



<div style='padding-bottom: 66px;'>
<div style='width:20%;float:left;'>
<button type='button' class='gray_button btn btn-xs' onclick="location.href='transfer_form.html'"  style="cursor: pointer;background-color: #075192;border-color: #075192;" id="transfer" title="Transfer"> TRANSFER
			&nbsp;&nbsp;
</button>
   <div style="position: absolute;margin-left:497px;color:white;font-size:30px;margin-top:-11px;">ACCOUNT DETAILS</div>

</div>


</div>
	<div class="telecast_total_div" style="min-width:100%;">
				<div style="min-width:100%;height:300px;">
					<table id="telecast_amount_tbl" style="margin-right:331px;">
						<!-- <tr>
							<th colspan="2" class="tele_table_header"></th>
						</tr> -->
						<tr>
							<th class="tele_amt_label tele_table_header" style="padding:3px;font-size: 25px;">Name</th>
							<td class="customer_name tele_table_header tele_amt innerclass"></td>
						</tr>
						<tr>
							<th class="tele_amt_label tele_table_header" style="padding:3px;font-size: 25px;">Account Number</th>
							<td class="acc_no tele_table_header tele_amt innerclass"></td>
						</tr>
						<tr>
							<th class="tele_amt_label tele_table_header" style="padding:3px;font-size: 25px;">Account Type</th>
							<td class="acc_type tele_amt tele_table_header innerclass"></td>
						</tr>
						<tr>
							<th class="tele_amt_label tele_table_header" style="padding:3px;font-size: 25px;">Current Balance</th>
							<td class="acc_balance tele_amt tele_table_header innerclass"></td>
						</tr>
						<tr class="tc_non_gst_tr">
							<th class="tele_amt_label tele_table_header" style="padding:3px;font-size: 25px;">Currency</th>
							<td class="currency tele_amt tele_table_header innerclass"></td>
						</tr>
					</table>
				</div>
				
			</div>
	



	<script type="text/javascript">	
   
    
var cust_id = sessionStorage.getItem("cust_id");
$.ajax({
			url : "customer_details/"+cust_id,
			type : 'GET',
			dataType : "json",
			success: function(json) {
				console.log("eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee"+JSON.stringify(json.customer_info))
				customer_data = json.customer_info
				$(".customer_name").html(customer_data.name)
                $(".acc_no").html(customer_data.acc_no)
                $(".acc_type").html(customer_data.acc_type)
                $(".acc_balance").html(customer_data.current_balance)
                $(".currency").html("$")
				// console.log("JSONNNNN"+JSON.stringify(json))
                 

			},
			error: function(xhr, status, text) {
				       var response = $.parseJSON(xhr.responseText);
				       var err = response.errors;
				
				     //   if (response) {
				    if(err.toString()=='session_expired'){
				        	window.location.href= "index.html";
				        } 
				        else{ 	
				            jAlert(err.toString());
				        }
			}
		});


	</script>