<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="\X-UA-Compatible content=IE=edge" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />

	<title id = "title-id">QETraffic</title>
	<link rel="icon" href="images/QuickEdge.ico">
	 <link rel="stylesheet" media="screen" href="stylesheets/style.css" /> 
	<link rel="stylesheet" media="screen" href="stylesheets/plugins/jquery-ui.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/bootstrap.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/AdminLTE.css" />
	
	<link rel="stylesheet" media="screen" href="stylesheets/jquery-ui-timepicker-addon.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/jquery.timepicker.css" />

	<link rel="stylesheet" href="stylesheets/tabletools/dataTables.tableTools.min.css" />
	<link rel="stylesheet" href="stylesheets/jquery.coolfieldset.css" />
	<link rel="stylesheet" href="stylesheets/plugins/jquery.jgrowl.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/simplePagination.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/order/jquery.autocomplete.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/jquery.qtip.css" />
	
	<link rel="stylesheet" media="screen" href="stylesheets/quickedge.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/jquery.datepick.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/font-awesome.min.css" />  
	<link rel="stylesheet" media="screen" href="stylesheets/ionicons.min.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/evol-colorpicker.css" />
	<link rel="stylesheet" media="screen" href="stylesheets/MonthPicker.min.css" />
	
<!-- 	<link href="stylesheets/jquery.dataTables.min.css" type="text/css" rel="stylesheet"> -->
    <link href="stylesheets/buttons.dataTables.min.css" type="text/css" rel="stylesheet"> 
	
	<script src="javascripts/jquery-1.11.3.min.js"  language="javascript" type="text/javascript"></script>
	
    <script src="javascripts/jquery.dataTables.min.js" language="javascript" type="text/javascript"></script>
    <script src="javascripts/dataTables.buttons.min.js" language="javascript" type="text/javascript"></script>    

    <script src="javascripts/buttons.flash.min.js" language="javascript" type="text/javascript"></script>
    <script src="javascripts/buttons.html5.min.js"  language="javascript" type="text/javascript"></script>
    <script src="javascripts/buttons.print.min.js"  language="javascript" type="text/javascript"></script>
    <script src="javascripts/jszip.min.js"  language="javascript" type="text/javascript"></script>
    <script src="javascripts/pdfmake.min.js"  language="javascript" type="text/javascript"></script>
    <script src="javascripts/vfs_fonts.js"  language="javascript" type="text/javascript"></script>
    <script src="javascripts/buttons.colVis.min.js"  language="javascript" type="text/javascript"></script>
   
	
	<script type="text/javascript" src="javascripts/jquery-migrate-1.2.1.js"></script>
	<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script> 
	<script type="text/javascript" src="javascripts/jquery.dataTables.columnFilter.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.browser.min.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.alerts.js"></script>

	<script type="text/javascript" src="javascripts/plugins/jquery-ui-timepicker-addon.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.jgrowl.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.timeentry.min.js"></script>

	<script type="text/javascript" src="javascripts/plugins/jquery.validate.min.js"></script>
	<script type="text/javascript" src="javascripts/jquery.tablednd.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="javascripts/plugins/jquery.fileDownload.js"></script>
	<script type="text/javascript" src="javascripts/jquery.qtip.js"></script>

	<script type="text/javascript" src="javascripts/custom/gallery.js"></script>
	<script type="text/javascript" src="javascripts/custom/users.js"></script>
	<script type="text/javascript" src="javascripts/qeglobal.js"></script>

	<script type="text/javascript" src="javascripts/jquery.coolfieldset.js"></script>
	<script type="text/javascript" src="javascripts/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" src="javascripts/ZeroClipboard.js"></script>
	<script type="text/javascript" src="javascripts/jquery.form.js"></script>
	<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="javascripts/jquery.printelement.js"></script>
	<script type="text/javascript" src="javascripts/jquery.easytabs.min.js" ></script>
	<script type="text/javascript" src="javascripts/jquery.timepicker.js"></script>
	<script type="text/javascript" src="javascripts/jquery.datepick.js"></script>
    <script type="text/javascript" src="javascripts/evol-colorpicker.js"></script>
	<!-- Reports & graphs -->
	<script language="javascript" type="text/javascript" src="javascripts/highcharts.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/exporting.js"></script>
	<!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->
	<script language="javascript" type="text/javascript" src="javascripts/no-data-to-display.js"></script>

	<script type="text/javascript" src="javascripts/authorization.js" ></script>

	<script type="text/javascript" src="javascripts/jquery.simplePagination.js"></script>

	<script type="text/javascript" src="javascripts/jquery.table2excel.js"></script>
	
	<script type="text/javascript" src="javascripts/moment.js"></script>
	<script type="text/javascript" src="javascripts/jquery.ba-hashchange.min.js">
	</script>
	<script type="text/javascript" src="javascripts/jquery.slimscroll.min.js"></script>

	<script type="text/javascript" src="javascripts/quickedge.js"></script>
	<script type="text/javascript" src="javascripts/MonthPicker.min.js"></script>
	<script type="text/javascript" src="javascripts/orders/program_autocomplete.js"></script>
	<script type="text/javascript" src="javascripts/custom/wasp_cg.js"></script>
	<script type="text/javascript" src="javascripts/comm.js"></script>
	<script type="text/javascript" src="javascripts/cust.js"></script>

	<link rel="stylesheet" href="stylesheets/home.css"/>
	<script type="text/javascript" src="javascripts/home.js"></script>
</head>

<body class="bodygrey" style="overflow:hidden;">
	<div class="headerspace"></div>
	<div class="header">
		<div class="topheader"></div><!-- topheader -->
		<!-- logo -->
		<a href=""><img src="/images/quickEdge.png" alt="Logo"/></a> 
		<span id="version" style="color:white;"></span> 
		<div class="tabmenu" style="left:12%;color:white;padding:0px;">
			<span>
				<label>Channel</label>
				<select id="channel">
				<option>Channel</option>
				</select>
			</span>
		</div>

		<div class="top-right-nav">
		     
		     <span>
           <i id="notify" class="fa fa-bell" aria-hidden="true" style="color:#fff;margin-right:25px;font-size:20px">
           	<!-- <span id="count" style="color:black;" >C</span> -->
           <!-- 	<span class="badge" class="badge_css" id="notify_count" ></span> -->
           <span class="badge btn btn-primary dropdown-toggle" id="notify_count" type="button" data-toggle="dropdown" style="background-color:#FF0000;margin-left:-10px;font-size:11px;"></span>
          <!--  	<ul class="dropdown-menu" style="color:#000" role="menu" aria-labelledby="menu1" id="dropdown_cust">

           	</ul> -->
           </i>
           	
           	</span>
           
			<span id="clock" style="color:#fff;margin-right:25px;"></span>
			<span class="top-user-menu">
				<input type="hidden" id="user_id" value=""/>
				<a  id="userInfo" onclick="accountInfo()">Admin</a>
				<span> | </span>
				<a href="#" id="logout">Logout</a>
				<span> | </span>
				<a id="helpMenu" target="_blank" style="cursor:pointer;" >Help</a>
			<!-- accountinfo -->
			</span>
		</div>

	</div><!-- header -->

	<div class="sidebar">
		<div id="accordion">
			<div class="content" id="content" style="display: block;">
				<div id="main_sidebar">
				<ul class="leftmenu" id="mainmenuidentifier" style="margin: 0; padding: 0;">
					
					<li class="side_menu current" id="menu_current"><a id="sidebar_dashboard" class="cDashboard" style="display:block;width:100%;" accesskey='dashboard.html'>
					<i class="fa fa-tachometer fa-md"  style="padding-right:10px;color:#666;"></i>DashBoard</a></li>

					<li class="side_menu programs" id="menu_programs" style="display:none">
					<a id="sidebar_program" style="display:block;width:100%;" class="programs" name="/programs/tabmenu" accesskey="program/program_list.html">
					<i class="fa fa-desktop fa-md" style="padding-right:10px;color:#666;"></i>Programs</a></li>
                    
                    <li class="side_menu pre_sales" id="menu_pre_sales" 
					style="display:none"><a style="display:block;width:100%;" id="presale_contracts" class="pre_sales" name="/order/tabmenu" accesskey="order/presales_list.html">
					<i class="fa fa-yelp fa-md" style="padding-right:10px;color:#666;"></i>RO Proposal</a></li>

					<li class="side_menu bulk_ro" id="menu_bulk_ro" style=''>
					<a id="sidebar_bulk_ro" style="display:block;width:100%;" class="bulk_ro" name="/bulk_ro/tabmenu" accesskey="bulkRO/bulk_ro_list.html">
					<i class="fa fa-cart-arrow-down fa-md" style="padding-right:10px;color:#666;"></i>Bulk Orders</a></li>

					<li class="side_menu orders" id="menu_orders" style="display:none"><a style="display:block;width:100%;" id="sidebar_contracts" class="orders" name="/order/tabmenu" accesskey="order/ordersList.html">
					<i class="fa fa-cart-arrow-down fa-md" style="padding-right:10px;color:#666;"></i>Release Orders</a></li>

					 <li class="side_menu special_packages" 
					 id="menu_special_packages" 
					style="display:none"><a style="display:block;width:100%;" id="special_packages" class="special_packages" name="/order/tabmenu" accesskey="billing/special_packages_list.html">
					<i class="fa fa-inr fa-md" style="padding-right:10px;color:#666;"></i>Special Packages</a></li>
					
				
					<li class="side_menu logs" id="menu_logs" style="display:none"><a  style="display:block;width:100%;" id="sidebar_logs" class="logs" name="/log/tabmenu" accesskey="log/prelog_list.html"><i class="fa fa-list-alt fa-md" style="padding-right:10px;color:#666;"></i>Logs</a></li>
					
					<!-- <li class="reports" style="display:none"><a id="sidebar_statistics" class="reports" name="/statistics/tabmenu" accesskey="report/report_list.html"><i class="fa fa-bullhorn fa-md" style="padding-right:10px;color:#666;"></i>Invoice</a></li> -->
					
					<li class="side_menu reports" id="menu_reports" style="display:none"><a id="sidebar_statistics" class="reports"  style="display:block;width:100%;"  accesskey="report/report_list.html"><i class="fa fa-file-text fa-md" style="padding-right:10px;color:#666;"></i>Reports</a></li>

					<li class="side_menu inventory" id="menu_inventory" style="display:none;"><a id="sidebar_inventory" class="inventory"  style="width:100%;"  accesskey="inventory/inventory_list.html"><i class="fa fa-table fa-md" style="padding-right:10px;color:#666;"></i>Inventory</a></li>
					
					<li class="side_menu customers" id="menu_customers" style="display:none"><a id="sidebar_customer" style="display:block;width:100%;"  class="customers" name="/customers/tabmenu" accesskey="customer/customer_list.html"><i class="fa fa-user fa-md" style="padding-right:10px;color:#666;"></i>Customers</a></li>


					<li class="side_menu agency" id="menu_agency" style="display:none"><a id="sidebar_agency" style="display:block;width:100%;" class="agency" name="/agency/tabmenu" accesskey="agency/agencyList.html"><i class="fa fa-users fa-md" style="padding-right:10px;color:#666;" 
					style="padding-right:10px;"></i>Agency</a></li>

					<!-- <li class="side_menu branch" id="menu_branch" style="display:none"><a id="sidebar_branch" style="display:block;width:100%;" class="branch" name="/branch/tabmenu" accesskey="settings/branch_list.html"><i class="fa fa-code-fork" style="padding-right:12px;font-size:23px;" 
					style="padding-right:10px;"></i>Branch</a></li> -->


					<li class="side_menu commercials" id="menu_commercials" style="display:none"><a  style="display:block;width:100%;" id="sidebar_commercials" class="commercials" name="/commercials/commercials_tab" accesskey="coms/commercials_list.html"><i class="fa fa-video-camera fa-md" style="padding-right:10px;color:#666;"></i>Media</a></li>
					
				<!-- 	<li class="promos_list" style="display:none"><a id="sidebar_promos"  style="display:block;width:100%;"  class="promos_list" accesskey="promos/promos_list.html"><i class="fa fa-bullhorn fa-lg" style="padding-right:10px;"></i>Schedule Promo</a></li> -->


				    <li class="side_menu order_summary" id="menu_order_summary" style="display:none"><a id="sidebar_order_summary" class="order_summary" style="display:block;width:100%;" accesskey="report/chartsView.html"><i class="fa fa-bar-chart fa-md" aria-hidden="true" style="padding-right:10px;color:#666;"></i>Charts</a></li>

				     <li class="side_menu audit_trail" id="menu_audit_trail" style="display:none"><a id="sidebar_audit_trail" class="audit_trail" style="display:block;width:100%;" accesskey="settings/user_audit_trail.html"><i class="fa fa-paw fa-md" aria-hidden="true" style ="padding-right:10px;color:#666;"></i>Audit Trail</a></li>


				    <li class="side_menu settings" id="menu_settings" style="display:none"><a id="sidebar_settings" style="display:block;width:100%;" class="settings"  accesskey="settings/settings_menu.html"><i class="fa fa-cog fa-md" style="padding-right:10px;color:#666;"></i>Settings<i class="fa fa-angle-double-down helper-icons"></i></a></li>		
				        <li class="sub_menus settings_sub_menu" data-url="user/user_list.html" style="display:none;">
				        	<i class="fa fa-users sub_menu_icons" style="color:#666;"></i>Users
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/advt_type_list.html" style="display:none;">
				        	<i class="fa fa-book sub_menu_icons" style="color:#666;"></i>Advertise Type
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/product_type.html" style="display:none;">
				        	<i class="fa fa-cube sub_menu_icons" style="color:#666;"></i>Product Type
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/channel_list.html" style="display:none;">
				        	<i class="fa fa-hdd-o sub_menu_icons" style="color:#666;"></i>Channel
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/privileges_master.html" style="display:none;">
				        	<i class="fa fa-check-square sub_menu_icons" style="color:#666;"></i>Privilege Master
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/invoice_edit.html" style="display:none;">
				        	<i class="fa fa-file-text sub_menu_icons" style="color:#666;"></i>Invoice Master
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/branch_list.html" style="display:none;">
				        	<i class="fa fa-code-fork" style="padding-right:4%;color:#666;"></i>Branch
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/schedulingsettings.html" style="display:none;">
				        	<i class="fa fa-hourglass-1 sub_menu_icons" style="color:#666;"></i>Scheduling
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/label_mappings.html" style="display:none;">
				        	<i class="fa fa-list sub_menu_icons" style="color:#666;"></i>Labels
				        </li>
				        <li class="sub_menus settings_sub_menu" data-url="settings/config.html" style="display:none;">
				        	<i class="fa fa-wrench sub_menu_icons" style="color:#666;"></i>Configuration
				        </li>
				</ul>
				</div>        	
			</div>        
		</div>
	</div><!-- leftmenu -->
	<!-- <div><img src="images/Logo.png"/></div> -->
	<div class="maincontent">
		<div class="maincontent_inner">
			<div class="left" id="main">
			</div>
			<i class="fa fa-arrow-circle-o-up scrollToTop" title="Scroll to Top"></i>
		</div> <!-- maincontent_inner -->
	</div><!--maincontent-->
	<br />
	<div class="footer footer_float" >
		<div class="footerinner">
		<span style="width:70px;float:right;"><a href="http://karthavya.com" target="_blank"><img src="/images/karthavyalogo/karthavyaLogo1.png"></img></a></span>
		<span style="width:60%;float:left;">&copy; 2017. Karthavya Technologies Pvt Ltd. All Rights Reserved.</span>
		</div><!-- footerinner -->
		
	</div><!-- footer -->

</body>
</html>
