<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home Page</title>
<link rel="stylesheet" media="screen" href="stylesheets/style.css" />
<link rel="stylesheet" media="screen" href="stylesheets/font-awesome.min.css" />  
<link rel="icon" href="images/Spartan_bank.jpg">
<script type="text/javascript" src="javascripts/jquery-1.11.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script> 
<script type="text/javascript" src="javascripts/general.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/plugins/jquery.alerts.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>


<style>
.loginbox .username { border: 0; background-position: 0 -32px; text-transform: none;background-color: #eeeeee;}
.loginbox .password { border: 0; background-position: 0 -32px; width: 190px; margin-right: 10px; text-transform: none;background-color: #eeeeee;}
i{position: absolute;background-color: #c9c9c9;padding: 9.5px 12px;border-right: 1px solid #b2b2b2; border-radius: 5px 0 0 5px;
}
.imagestyle){
	margin-top:-117px;
	margin-left:-456px;
}
.widgetlist li a{
 		height: 140px;
	} 
	.settings_sub_menu{
		cursor: pointer;
	}
	.settings_menus .settings_sub_menu i{
		font-size: 50px;
		color: #555;
	}
	.element {
      font-size: 110%;
   }

</style>

<script>
function preventBack(){
	window.history.forward();
}
setTimeout("preventBack()", 0);
window.onunload=function(){null};

$(document).ready(function(){


   
   $('ul.widgetlist settings_menus li').click(function(e) 
   { 
    alert("hi");
   });



	$("#error").hide();
	$("#login").click(function(){
			value = {};
			value["username"] = $("#userName").val();
			value["password"] = $("#password").val();	
		
			jQuery.ajax({
				type : "POST",
				url : "sessions",
				dataType:"json",
				async:false,
				data : JSON.stringify(value),

				statusCode: {
			        400: function() {
			          $("#error").show();
			        }
			    },
				success : function(data) {
					user_info = data.users
					sessionStorage.setItem("user_id",user_info._id);
					console.log("Login page::::::::::::::::"+user_info.role)
					if(user_info.role=="Client"){
						sessionStorage.setItem("client_id",user_info.customer_id );
						sessionStorage.setItem("user_type", "Client");
						console.log("set user type")
						
						window.location.href= "home.html";
					}else if(user_info!=undefined && user_info!=null){
						sessionStorage.setItem("user_type", user_info.role);
						console.log("set user type")
						window.location.href= "home.html";
					}else{
						  sessionStorage.setItem("client_id","" );
						  sessionStorage.setItem("user_type", "");
						  sessionStorage.setItem("user_id","");
						  window.location.href= "index.html";
					}
					
					
				},
				error: function(xhr, status, text) {
				       var response = $.parseJSON(xhr.responseText);
				       var err = response.errors;
				
				       /* if (response) {
				            jAlert(err.toString());
				        }*/
	            } 				
			});
		});
	
	$('#password').keypress(function(event) {
	if (event.keyCode == 13) {
		$( "#login" ).trigger( "click" );
	}
});


});	

function commoncall(){
	console.log("hiiiiiiiiiiiiii")
	jQuery('#main').load("settings/settings_menu.html");
}
</script>


</head>

<body class="index" style="overflow:hidden;">

	<img class="imagestyle" src="images/Spartan_bank.jpg" alt="Logo" align ="left"/>
    <p align = "left" style = "position: relative;top:200px;left:80px"><font face="verdana" color="white" size="900">BANK OF SPARTANS</font></p>
    <div class="menuLink" style= "width:200px;position: relative;float:right;margin-right:200px">
 	<ul class="widgetlist settings_menus">
 		<li id="customerli" onclick="location.href='customer_login.html'" class="settings_sub_menu">
 			<a accesskey="/user/0/list"> 
 				<span id="customerSpan" class=element  style="font-size:26px;color:black">Customer Login</span>
 			</a>
 		</li>
 		<li>
 			<a id="telerli" onclick="location.href='teller_login.html'" class="settings_sub_menu">
            <span id="tellerSpan" class=element  style="font-size:26px;color:black">Teller Login</span> 
 				
 			</a>
 		</li>
    	<li>
    		<a id="adminli" onclick="location.href='admin_login.html'" class="settings_sub_menu">
    		<span id="AdminSpan" class=element  style="font-size:26px;color:black">Admin Login</span>
    		</a>
    	</li>
    	</ul>


<div class="notification notifyError loginNotify" id="error" style="display:none;font-size:17px">
 Invalid Username and Password
</div>

	<!-- <div class="loginbox">
		<div class="loginbox_inner">
	    	<div class="loginbox_content">
	    	<form  method="post">

	           <i class="fa fa-user"></i><input type="text" name="userName" id="userName" placeholder="username" class="username" autofocus 	 />
	           <i class="fa fa-key"></i><input type="password" name="password" placeholder="password" id="password" class="password" />
	            <button type="button" name="button" id="login">Login</button>
	         </form>
	        </div>
	    </div><
	</div>
	 -->
	
</body>

</html>

