<link rel='stylesheet' type="text/css" href='stylesheets/reports/telecast_certificate.css' />


<style>
	.blue_bg{
		background-color:#E0FFFF
	}
	.ui-dialog .ui-dialog-buttonpane {
		border-width: 0px;
	}
	.ui-dialog-buttonset{
		float: left !important
		text-align:center;
	}
	.editClipCaption{
		color: #407BCA;
	}

</style>

<div id="telecast_certificate_container">
	<div class="telecast-certificate"> 
	<!-- <div class="button-section"> -->
		<div style="margin-bottom: 10px;">
			<div class="address_checkbox_wrapper spotTypeScreen" >
				<div><label>Address To</label><input type="checkbox" class="tele_address_check" id="tele_addr_to_check" checked onclick="toggleAddressedTo()" style="float:left"/></div>

				<div><label>Advertiser</label><input type="checkbox" class="tele_address_check" id="tele_client_adrs_check" checked onclick="tele_toggleClientAddress()" style="float:left"/></div>
			</div>
			<button class="print_btn" style="float:right;">Print</button>
		</div>
		<br>
		<br>
	<!-- </div> -->

	<div id="slot_rate_remarks_div">
		<div style="display:inline-block">
			<label style="position:relative;top:-25px;right:10px;">Remarks: </label>
			<textarea rows="3" cols="50" data=""></textarea>
		</div>
		<div style="display:block;margin-top:12px;position:relative;">
			<button class="btn btn-sm btn-default" id="cancel_remarks">Reset Rate Changes</button>
			<button class="btn btn-sm btn-primary" id="add_remarks">Add Remarks</button>
		</div>

	</div>

	<div id="cg_rate_remarks_div">
		<div style="display:inline-block">
			<label style="position:relative;top:-25px;right:10px;">Remarks: </label>
			<textarea rows="3" cols="50" data="" class="cg_remarks_input"></textarea>
		</div>
		<div style="display:block;margin-top:12px;position:relative;">
			<button class="btn btn-sm btn-default" id="cancel_cg_remarks">Reset Rate Changes</button>
			<button class="btn btn-sm btn-primary" id="add_cg_remarks">Add Remarks</button>
		</div>

	</div>

	<div id="cg_clip_caption_div" style="display:none;">
		<div style="display:inline-block;margin-top: 10px;">
			<label style="position:relative;left:2px;">Clip Caption: </label>
			<input type="text" data="" class="cg_caption_input" style="width: 500px;" 	/>
		</div>
		<div style="display:block;margin-top:30px;position:relative;">
			<button class="btn btn-xs btn-default" id="close_cg_caption">Close</button>
			<button class="btn btn-xs btn-primary" id="change_cg_caption">Change Caption</button>
		</div>

	</div>

	<div class="tele_orderInfo" id="tele_orderInfo"></div>

	<div class="tele_header_vrl">
		<table class="certificate-header">
			<tr>
				<td class="company-info">
						<h1 class="tele_channel_caption"></h1>
						<p class="address">
							<span class="invoice-street"></span>
							<span class="invoice-area"></span>
							<span class="invoice-landmark"></span>
							<span class="invoice-city"></span>
							<span class="invoice-pin"></span>
							<br>
							<span class="invoice_ph">
								<!-- Tel: 080 - 22537312 / 22537313 -->
							</span>
						</p>
				</td>

				<td class="logo">
					<div  >
						<img class="channel-logo"/>
					</div>			
				</td>
			</tr>
		</table>
	</div>

	<div class="tele_header_raj">
		<table class="certificate-header" style="background: #fff !important;">
			<tr style="background:#FCFDFD;">
				<td class="logo" >
					<div >
						<img class="channel-logo" />
					</div>			
				</td>
			</tr>
			<tr>
				<td class="company-info" style="text-align:left;background:#e7e7e7;">
						<h1 class="tele_channel_caption" style="font-size:40px !important;"></h1>
						<p class="address">
							<span class="invoice-street"></span>
							<span class="invoice-area"></span>
							<span class="invoice-landmark"></span>
							<span class="invoice-city"></span>
							<span class="invoice-pin"></span>
							<br>
							<span class="invoice_ph">
								<!-- Tel: 080 - 22537312 / 22537313 -->
							</span>
						</p>
				</td>
			</tr>			
		</table>
	</div>
		
	<div class="certificate-content ">
		<div class="meta-data">
		 	<h1>Telecast certificate</h1>

		 	   <div class="columns">
			        <div class="left-columns">
			            <div>
			                <div class="column">
			                    <div class="col-label">Month</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value month"></div>
			                </div>    
			            </div>
			            
			            <div>
			                <div class="column">
			                    <div class="col-label">Addressed To</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value tc_agency"></div>			                   
			                </div>    
			            </div>

			            <div>
			                <div class="column ">
			                    <div class="col-label" style="visibility: hidden;">Address</div>
			                    <div class="col-colon" style="visibility: hidden;"></div>
			                     <div class="col-value agency-addr-value">
			                    	<span class='agency-addr'></span>
			                    </div>
			                </div>    
			            </div>


			             <div>
			                <div class="column">
			                    <div class="col-label">Advertiser</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value advertiser"></div>			                    
			                </div>    
			            </div>


			             <div>
			                <div class="column">
			                    <div class="col-label" style="visibility: hidden;">Address</div>
			                    <div class="col-colon" style="visibility: hidden;"></div>
			                    <div class="col-value cust-addr-value">
			                    	<span class='cust_addr'></span>
			                    </div>
			                </div>    
			            </div>
			            
					 </div>
			        <div class="right-columns">
			             <div>
			                <div class="column">
			                    <div class="col-label ">invoice no</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value invoice-no"></div>
			                </div>    
			            </div>
			            
			            <div>
			                <div class="column">
			                    <div class="col-label">invoice date</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value invoice-date"></div>
			                </div>    
			            </div>

			             <div>
			                <div class="column">
			                    <div class="col-label">Booking no</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value refence-no" title="View RO details"></div>
			                </div>    
			            </div>

			             <div class="tc_reff_id_print">
			                <div class="column" class="tc_reff_id_print">
			                    <div class="col-label">Reff ID</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value ref_code"></div>
			                </div>    
			            </div>
			            
			             <div>
			                <div class="column">
			                    <div class="col-label">ro no</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value ro-no"></div>
			                </div>    
			            </div>
			            
			             <div>
			                <div class="column">
			                    <div class="col-label">ro date</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value ro_date"></div>
			                </div>    
			            </div>

			            <div>
			                <div class="column">
			                    <div class="col-label">Activity Period</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value activity_period"></div>
			                </div>    
			            </div>

			            <!-- <div>
			                <div class="column">
			                    <div class="col-label">BRAND</div>
			                    <div class="col-colon"></div>
			                    <div class="col-value brand"></div>
			                </div>    
			            </div> -->
			        </div>			     
    		</div>

		</div>

		<br>

		<p id="disclaimer">We hereby certify that the following spots have been telecast on <span class="tele_channel_name"></span> </p>

		<div class="report-data">
			<table cellspacing="0" cellpadding="0" id="telecast_report_tbl" class="telecast_report_tbl" style="display:none;">
				<thead>
					<!-- <tr> <th colspan="11" class="tele_table_header">FCT DETAILS </th> </tr> -->
					<tr>
						<th class="disabled" style="width: 4%;">SL. NO</th>
						<th style="width: 8%;">TELECAST Date</th>
						<th style="width: 6%;">AD Type</th>
						<th class="timeband" style="width: 13%;">TIMEBAND</th>
						<th style="width: 18%;">PROGRAMME NAME</th>
						<th style="width: 33%;">TB CAPTION/VERSION</th>
						<th style="width: 18%;" class="disabled">CLIP NAME</th>
						<th style="width: 8%;">TELECAST TIME</th>
						<th style="width: 8%;">BRAND</th>
						<th style="width: 4%;">DUR (SEC)</th>
						<th style="width: 8%;">PAID / BONUS</th>
						<th class="disabled" style="width: 6%;">RATE</th>
						<th class="disabled teleSlotDelete_col" style="width: 6%;">ACTION</th>
					</tr>
				</thead>

				<tbody>
				</tbody>
			</table>
		</div>
		<br/>

		<div class="duration-summary">
			<table cellspacing="0" cellpadding="0" id="duration-summary-table" class="duration-summary-table" style="display:none;">
				<thead>
					<tr> <th colspan="7" class="tele_table_header">FCT SUMMARY </th> </tr>
					<tr style="background:#e4e4e4;">
						<th style="width:10%">Timeband</th>
						<th style="width:400px">Caption/Version</th>
						<th style="width: 10%;">Total Duration</th>
						<th style="width: 10%;">Qty</th>
						<th style="width: 10%;">Paid/Bonus</th>
						<th class='duration_rate_col disabled' style="width:10%">Rate</th>
						<th class='duration_rate_col disabled' style="width:10%">Amount</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<p class="duration-summary-table-total-dur">
				
			</p>

			<table cellspacing="0" cellpadding="0" id="cg-summary-table" class="cg-summary-table" style="margin-top:30px;display:none;">
				<thead>
					<tr> <th colspan="9" class="tele_table_header">NON FCT DETAILS</th> </tr>
					<tr style="background:#e4e4e4;">
						<th class="disabled" style="width: 4%;">SL. NO</th>
						<th style="width:10%">Date</th>
						<th style="width:10%">Timeband</th>
						<th style="min-width:400px">Caption / Version</th>
						<th style="width:10%">BRAND</th>
						<th style="width:10%">Type</th>
						<th class="" style="width:10%">Count</th>
						<th style="width:10%">Paid / Bonus</th>
						<th class="disabled" style="width:10%">Rate</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>

			<table cellspacing="0" cellpadding="0" id="nfpc-summary-table" class="nfpc-summary-table" style="margin-top:30px;">
				<thead>
					<tr> <th colspan="7" class="tele_table_header">NON FCT SUMMARY</th> </tr>
					<tr style="background:#e4e4e4;">
						<th style="width:40%">Caption / Version</th>
						<th style="width:10%">Type</th>
						<th style="width:10%">Paid / Bonus</th>
						<th class="" style="width:10%">Unit</th>
						<th class="" style="width:10%">No.Units/No.Days</th>
                        <th class="" style="width:10%">Rate</th>
						<th class="" style="width:10%">Amount</th>
						
						<th class="disabled cg_summary_action_col" style="width:10%">Action</th>

					</tr>

					<tr class="cg_custom_entry_header disabled" style="background:#e4e4e4;display:none;">
						<th class="disabled" style="width:40%">
							<input type="text" class="cg_caption"/>
						</th>
						<th class="disabled" style="width:10%">
							<select class="cg_advt_type"></select>
						</th>
						<th class="disabled" style="width:10%">
							<select class="cg_spot_type"><option value="paid">Paid</option><option value="bonus">Bonus</option></select>
						</th>
						<th class="disabled" style="width:10%">
							<select class="cg_unit_type">
								<option value="per_day">Rate/day</option>
								<option value="per_unit">Rate/unit</option>
							</select>
						</th>
						<th class="disabled" style="width:10%">
							<input type="text" class="cg_units_per_day"/>
						</th>
						<th class="disabled" style="width:10%">
							<input type="text" class="cg_rate"/>
						</th>
						<th class="disabled" style="width:10%">
							<!-- <input type="text" class="cg_amount"/> -->
						</th>
						<th class="disabled" style="width:10%">
							<button class="btn btn-xs btn-primary add_new_cg_entry">Add</button>
							<button class="btn btn-xs btn-default cancel_cg_entry">Cancel</button>
						</th>
					</tr>

				</thead>
				<tbody></tbody>
			</table>

			<div class="telecast_total_div" style="min-width:100%;">
				<div style="min-width:100%;height:300px;">
					<table id="telecast_amount_tbl">
						<tr>
							<th colspan="2" class="tele_table_header">Amount Summary</th>
						</tr>
						<tr>
							<th class="tele_amt_label">Gross Amount</th>
							<td class="tele_gross_amt tele_amt"></td>
						</tr>
						<tr>
							<th class="tele_amt_label">Discount Amount</th>
							<td class="tele_agency_disc tele_amt"></td>
						</tr>
						<tr>
							<th class="tele_amt_label">Net Amount</th>
							<td class="tele_net_amt tele_amt"></td>
						</tr>
						<tr class="tc_non_gst_tr">
							<th class="tele_amt_label">Service Tax @ 14%</th>
							<td class="tele_service_tax tele_amt"></td>
						</tr>
						<tr class="tc_non_gst_tr">
							<th class="tele_amt_label">Swatch Bharath Cess @ 0.50%</th>
							<td class="tele_swatch_bharat tele_amt"></td>
						</tr>
						<tr class="tc_non_gst_tr">
							<th class="tele_amt_label">Krishi kalyan Cess @ 0.50%</th>
							<td class="tele_krishi_kalyan tele_amt"></td>
						</tr>

						<tr class="tc_gst_tr">
							<th class="tele_amt_label">CGST <span class="cgst_sgst_percnt gst_percnt">@ 9%</span> </th>
							<td class="tele_cgst_tax tele_amt"></td>
						</tr>
						<tr class="tc_gst_tr">
							<th class="tele_amt_label">SGST <span class="cgst_sgst_percnt gst_percnt">@ 9%</span> </th>
							<td class="tele_sgst_tax tele_amt"></td>
						</tr>
						<tr class="tc_gst_tr">
							<th class="tele_amt_label">IGST <span class="igst_percnt gst_percnt">@ 18%</span> </th>
							<td class="tele_igst_tax tele_amt"></td>
						</tr>
						<tr class="tc_gst_tr">
							<th class="tele_amt_label">Total GST</th>
							<td class="tele_total_gst tele_amt"></td>
						</tr>

						<tr>
							<th class="tele_amt_label">Round Off</th>
							<td class="tele_round_off tele_amt"></td>
						</tr>
						<tr>
							<th class="tele_amt_label">Total Amount Payable</th>
							<td class="tele_total_amt tele_amt"></td>
						</tr>
					</table>
				</div>
				
			</div>


			<p class="info_invoice_num" style="float:right;">
				<div style="display:inline-block" class="tele_remarks_div">
					<label class="tele_remarks_label spotTypeScreen" >Remarks: </label>
					<textarea rows="2" cols="40" class="spotTypeScreen tele_remarks"></textarea>
					<span class="spotTypePrint tele_remarks_span"></span>
				</div>

				<div style="display:inline-block;position:relative;margin: 0 40px 0 10px;width:80px;" class="tele_address_to_div spotTypePrint">
					<label class="spotTypeScreen" >Address To: </label>
					<select class="tele_address_to spotTypeScreen">
						<option value="client">Client</option>
						<option value="agency">Agency</option>
					</select>
				</div>

				<div style="display:inline-block;position:relative;margin: 0 40px 0 10px;width:100px;color:#444;" class="tele_address_to_div spotTypePrint invoice_date_picker_div">
					<label class="spotTypeScreen" >Bill Date: </label>
					<input type="text" class="invoice_date_picker" style="width:95px;"  readonly="true" />
				</div>

				<button class="btn btn-xs btn-default" id="refresh_telecast" title="Reset Telecast values" style="position:relative;top:-15px;" ><i class="fa fa-refresh"></i> Reset</button>
				<button class="btn btn-xs btn-primary" id="update_telecast_btn" title="Finalize Telecast" style="position:relative;top:-15px;" ><i class="fa fa-hand-pointer-o"></i> Finalize TC and Generate Invoice</button>
				<span id="tele_invoice_id" class="tele_invoice_id"></span>
				
				<button class="btn btn-xs btn-primary print_btn" style="position:relative;top:-15px;" ><i class="fa fa-print"></i> Print</button>
			</p>

			<div class="for_media_text" style='text-align: right;font-size:14px;'></div>
    		<div class="auth_signature" style='text-align: right;font-size:14px;margin-top:14px;'>Authorised Signature</div>
		</div>

	</div>
	
</div>
</div>


<div id='tc_password_dialog' style="display:none;">

	<div style='padding-top:10px;'><span>Password&nbsp;</span><span><input id='tc_pwd_field' type='password'/></span></div>
   
</div>

<script type="text/javascript">

	//submit TC password ENTER key press.
	// $("#tc_pwd_field").off("keyup");
	// $("#tc_pwd_field").on("keyup", function(event){
	// 	if(event.which == 13){
	// 		$("#submit_tc").trigger("click");
	// 	}
	// });

	function set_channel_addr(){
		var adrs = "";
		var channel = $("#channel").val();
		
		if(channelsMap[channel]){
			adrs = channelsMap[channel].address;
			$(".tele_channel_name").html(channelsMap[channel].name);
		}

		var channel_caption = getChannelCaption(channel);
		$(".tele_channel_caption").html(channel_caption);


		/*if(channel_caption){
			if(channel_caption.length > 20){
				$(".tele_channel_caption").attr("style", "font-size: 40px !important");
			}  else {
				$(".tele_channel_caption").attr("style", "font-size: 60px !important");
			}
		}*/


		var tele = getChannelTelephone(channel);
		var tele_str = ''
		if(tele){
           tele_str = 'Tel-' + tele
		}
		$(".invoice_ph").html(tele_str);
	
		if(adrs){
			if(adrs.street){
				$(".certificate-header .invoice-street").html(adrs.street + ", ");
			}else{
				$(".certificate-header .invoice-street").html("");
			}

			if(adrs.area){
				$(".certificate-header .invoice-area").html(adrs.area + ", ");
			}else{
				$(".certificate-header .invoice-area").html("");
			} 

			if(adrs.landmark){
				$(".certificate-header .invoice-landmark").html(adrs.landmark +", ");
			}else{
				$(".certificate-header .invoice-landmark").html("");
			}

			if(adrs.city){
				$(".certificate-header .invoice-city").html(adrs.city + ", ");
			}else{
				$(".certificate-header .invoice-city").html("");
			}

			if(adrs.pincode){
				$(".certificate-header .invoice-pin").html(adrs.pincode);
			}else{
				$(".certificate-header .invoice-pin").html("");
			}
		}
	}

	function printTelecastCertificateDiv(printContainer) {
		var client_name = $(".certificate-content .advertiser").text();
		var client_name_trim = client_name;
		var replaceStr = ["TV", "TV-", "TVVV"];

    	client_name_trim = client_name_trim.replace("TVVV", "");
    	client_name_trim = client_name_trim.replace("TV-", "");
    	client_name_trim = client_name_trim.replace("TV", "");

        $(".certificate-content .advertiser").text(client_name_trim);

        var tc_agency = $(".certificate-content .tc_agency").text();
		var tc_agency_trim = tc_agency;

		if( tc_agency.toLowerCase() != "direct" ){

	    	tc_agency_trim = tc_agency_trim.replace("TVVV", "");
	    	tc_agency_trim = tc_agency_trim.replace("TV-", "");
	    	tc_agency_trim = tc_agency_trim.replace("TV", "");

	        $(".certificate-content .tc_agency").text(tc_agency_trim);
	    }

		var doc = document.getElementById(printContainer);
	    var win = window.open('', "Print Telecast");
	    win.document.open();
	    win.document.write('<html><head><title></title><link rel="stylesheet" media="all" type="text/css" href="stylesheets/reports/telecast_certificate.css" /></head><body>');
	    win.document.write(doc.innerHTML);
        win.document.write("</body></html>");
	    win.document.close();
	    win.focus();
	    win.print();
	    win.close();
	    $(".certificate-content .advertiser").text(client_name);
	    $(".certificate-content .tc_agency").text(tc_agency);

	}

	/* EVENT HANDLERS */
	$(".telecast-certificate .print_btn").unbind("click");
	$(".telecast-certificate .print_btn").click(function(){	
		
		$(".agency-addr").show();
		var isChecked = $("#tele_addr_to_check").is(":checked");
		if(!isChecked){ //if not checked
			$(".agency-addr").hide();
		}

		$(".telecast-certificate #cust_addr").show();
		var isChecked = $("#tele_client_adrs_check").is(":checked");
		if(!isChecked){ //if not checked
			$(".telecast-certificate #cust_addr").hide();
		}

		printTelecastCertificateDiv('telecast_certificate_container');
	});

	$("#update_telecast_btn").unbind("click");
	$("#update_telecast_btn").click(function(){
		updateTelecastCertificate();
	});

	$(".telecast-certificate").on( "change", ".spotTypeSel", function() {
	  	val = $(this).find('option:selected').val();
	    $(this).prev().html(val); // Update hidden span

	    // updateTelecastPaidBonus(this.id, val);

	    var slotId = this.id.replace("spotType-", "");
	    var val = $("#spotType-"+slotId).val();
		var realVal = $("#realSpotVal-"+slotId).attr("data");

		if(val.toLowerCase() != realVal.toLowerCase() && slotId){
	    	showHideRemarksDialog(slotId, val);
	    } else {
	    	updateTelecastPaidBonus(slotId, val, "");
	    }
		
	});

	$(".telecast-certificate").on( "change", ".cgSpotTypeSel", function(e) {
		e.preventDefault();

	  	var val = $(this).find('option:selected').val();
	    $(this).prev().html(val); // Update hidden span

	    var slotId = this.id.replace("CGSpotType-", "");
	    var val = $("#CGSpotType-"+slotId).val();
		var realVal = $("#realCGSpotVal-"+slotId).attr("data");

		console.log( "#realCGSpotVal-"+slotId );

		console.log("................"+slotId +" .... realVal  "+ realVal +" .... val  "+  val);
		if(val.toLowerCase() != realVal.toLowerCase() && slotId){
	    	showHideCGRemarksDialog(slotId, val);
	    } else {
	    	updateTelecastCGPaidBonus(slotId, val, "");
	    }
		
	});

	function toggleAddressedTo(){
		$(".telecast-certificate .agency-addr").show();
		var isChecked = $("#tele_addr_to_check").is(":checked");
		if(!isChecked){ //if not checked
			$(".telecast-certificate .agency-addr").hide();
		}
	}

	function tele_toggleClientAddress(){
		$(".telecast-certificate .cust_addr").show();
		var isChecked = $("#tele_client_adrs_check").is(":checked");
		if(!isChecked){ //if not checked
			$(".telecast-certificate .cust_addr").hide();
		}
	}

	$(function() {
		set_channel_addr();

		if($.cookie("tc_num")!=undefined){
	       tc_num = $.cookie("tc_num")
	       get_tc_details(tc_num);
		}

		var channel = $("#channel").val();
		var channel_logo = getChannelLogo(channel);

		$('.telecast-certificate .channel-logo').prop('src', channel_logo);

		$("#refresh_telecast").unbind("click");
		$("#refresh_telecast").click(function(){
			$("#filterAffidavitResult").trigger("click");
			$("#finalize_telecast").show();
		});

		$("#add_remarks").unbind("click");
		$("#add_remarks").click(function(event){
			event.preventDefault();
			console.log("add_remarks");
			var remarks = $("#slot_rate_remarks_div textarea").val();
			if(!remarks){
				jAlert("Empty remarks");;
				return;
			}

			var slotId = $("#slot_rate_remarks_div textarea").attr("data");
			var val = $("#spotType-"+slotId).val();
			var realVal = $("#realSpotVal-"+slotId).attr("data");
			
			if(val.toLowerCase() != realVal.toLowerCase() && slotId){
				updateTelecastPaidBonus(slotId, val, remarks);
			} else {
				updateTelecastPaidBonus(slotId, val, "");
			}
			
		});

		$("#cancel_remarks").unbind("click");
		$("#cancel_remarks").click(function(){
			var slotId = $("#slot_rate_remarks_div textarea").attr("data");
			var realVal = $("#realSpotVal-"+slotId).attr("data");
			var val = $("#spotType-"+slotId).val();
			if(realVal){
				$("#spotType-"+slotId).val( realVal.toLowerCase() );
				updateTelecastPaidBonus(slotId, realVal, "");
			}

			$("#slot_rate_remarks_div").dialog('close');
		});

		$("#add_cg_remarks").unbind("click");
		$("#add_cg_remarks").click(function(event){
			event.preventDefault();
			console.log("add_cg_remarks");
			var remarks = $("#cg_rate_remarks_div textarea").val();
			if(!remarks){
				jAlert("Empty remarks");;
				return;
			}

			var slotId = $("#cg_rate_remarks_div textarea").attr("data");
			var val = $("#CGSpotType-"+slotId).val();
			var realVal = $("#realCGSpotVal-"+slotId).attr("data");
			
			console.log(val, realVal);

			if(val.toLowerCase() != realVal.toLowerCase() && slotId){
				updateTelecastCGPaidBonus(slotId, val, remarks);
			} else {
				updateTelecastCGPaidBonus(slotId, val, "");
			}
			
		});

		$("#cancel_cg_remarks").unbind("click");
		$("#cancel_cg_remarks").click(function(){
			var slotId = $("#cg_rate_remarks_div textarea").attr("data");
			var realVal = $("#realCGSpotVal-"+slotId).attr("data");
			var val = $("#CGSpotType-"+slotId).val();

			console.log(realVal);

			if(realVal){
				$("#CGSpotType-"+slotId).val( realVal.toLowerCase() );
				updateTelecastCGPaidBonus(slotId, realVal, "");
			}

			$("#cg_rate_remarks_div").dialog('close');
		});

		$("#slot_rate_remarks_div").dialog({ 
									title: "Remarks",
									width: 600,
									height: 180,
									closeOnEscape: false,
									autoOpen: false,
									beforeClose: function(){
										console.log("beforeClose....");
										$("#slot_rate_remarks_div textarea").attr("data", "");
										$(".ui-dialog-titlebar-close").show();
										$("#slot_rate_remarks_div textarea").val("");
									}
								  });


		$("#cg_rate_remarks_div").dialog({ 
									title: "Remarks",
									width: 600,
									height: 180,
									closeOnEscape: false,
									autoOpen: false,
									beforeClose: function(){
										console.log("beforeClose....");
										$("#cg_rate_remarks_div textarea").attr("data", "");
										$(".ui-dialog-titlebar-close").show();
										$("#cg_rate_remarks_div textarea").val("");
									}
								  });

		$('#tele_orderInfo').dialog({
									title: "Release Order Details",
									width:1100,
  			 						height:800,
									autoOpen: false,
									beforeClose: function(){
										$.cookie("orderId","");
										$("#ro_print_btns").show();
										console.log($("#affidavitFromDate") )
										$("#affidavitFromDate, #affidavitToDate, #affidavitAgencyFilter, #affidavitCustomerFilter, #affidavitRoId, #device_affidavit_filter").removeClass("transparent");

										$("#tele_orderInfo").html("");

									}
								});

		$("#cg_clip_caption_div").dialog({ 
									title: " Change CG Caption ",
									width: 600,
									height: 180,
									closeOnEscape: false,
									autoOpen: false,
									beforeClose: function(){
										console.log("beforeClose....");
										$("#cg_clip_caption_div input").attr("data", "");
										$(".ui-dialog-titlebar-close").show();
										$("#cg_clip_caption_div input").val("");
									}
								  });

		$(".telecast-certificate").on( "click", ".editClipCaption", function(e) {

		    var id = $(this).attr("id");
		    if(id){
		    	id = id.replace('caption_', '');
		    }

		    $("#cg_clip_caption_div").dialog("open");
		    var obj = TELECAST_CERTIFICATE_FILTER_DATA["cg_log_map"][id];
		    if(obj){
		    	$("#cg_clip_caption_div .cg_caption_input").val(obj.clip_caption);
		    	$("#cg_clip_caption_div .cg_caption_input").attr("data", id);
		    }
		});

		$("#close_cg_caption").unbind("click");
		$("#close_cg_caption").click(function(){
			$("#cg_clip_caption_div").dialog("close");
			$("#cg_clip_caption_div .cg_caption_input").val("");
			$("#cg_clip_caption_div .cg_caption_input").attr("data", "");
		});

		$("#change_cg_caption").unbind("click");
		$("#change_cg_caption").click(function(){
			var caption = $("#cg_clip_caption_div .cg_caption_input").val();
			var slotId = $("#cg_clip_caption_div .cg_caption_input").attr("data");
			if(!caption){
				jAlert("Invalid Clip Cpation");
				return false;
			}
			if(!slotId){
				jAlert("Invalid Slot ID");
				return false;
			}
			updateTelecastCGCaption(slotId, caption);
		});

	});

	$(document).ready(function(){

		if( comm_checkIsGST() ){
			$(".tc_gst_tr").show();
			$(".tc_non_gst_tr").hide();
		} else {
			$(".tc_non_gst_tr").show();
			$(".tc_gst_tr").hide();
		}

		$(".tele_header_vrl, .tele_header_raj").hide();
		if(CHANNEL_TYPE != "raj"){
			$(".tele_header_vrl").show();
		} else {
			$(".tele_header_raj").show();
		}

		$(".invoice_date_picker").datepicker({
			'dateFormat': "dd/mm/yy"
		});

		if(checkIsManualInvoiceBillDate() == false){
			$(".invoice_date_picker_div").hide();
		}

		function tc_load_advt_types(){
		    $.ajax({
			    dataType: "json",
			    url: '/advertisement_types',
			    success: function( result) {
				    var advt_type_list = [];

			      	if(result.ad_types == undefined){
			      		console.log("Empty advt types in TC..");
			      		return false;
			      	}
			      	$(".cg_advt_type").html("");
			        advt_type_list = result.ad_types;
			      	var optionStr = "";

			        for(var i=0; i<advt_type_list.length; i++){
			        	var item = advt_type_list[i];
			        	if( !item.time_consumable){
			        		optionStr += '<option value="'+item.name+'">'+item.name+'</option>';
			        	}
			        }

			        $(".cg_advt_type").html(optionStr);

			    }, 
			    error: function(xhr, status, text) {
			      comm_handleAjaxError(xhr);
			    }
			});
		}
		tc_load_advt_types();

		//show/hide refreenceId on channel configurations.
		if( !$.isEmptyObject(channelConfigObj) ){
		    var printConfig = "";

		    //checking for print configurations
		    if("print" in channelConfigObj){
		        printConfig = channelConfigObj.print;

		        if("reff_id" in printConfig){
		            if(!printConfig.reff_id){
		                $(".tc_reff_id_print").hide();
		            }
		        } else {
		        	$(".tc_reff_id_print").hide();
		        }

		        if("for_media" in printConfig){
		            if(!printConfig.for_media){
		                $(".for_media_text").hide();
		            } else if(printConfig.for_media_name){
		            	$(".for_media_text").html(printConfig.for_media_name);
		            }
		        } else {
		        	$(".for_media_text").hide();
		        }

		        if("auth_sign" in printConfig){
		            if(!printConfig.auth_sign){
		                $(".auth_signature").hide();
		            }
		        } else {
		        	$(".auth_signature").hide();
		        }

		    }
		}

		// jQuery('#tc_password_dialog').dialog({
  // 			width:300,
  // 			height:200,
  // 			modal:true,
  // 			autoOpen:false,
  // 			title:"Telecast Password"
  // 		});
	});

</script>

<style>
	.tc_gst_tr{
		display: none;
	}
</style>

