.select {
	font-size: 12px;
    border: 1px solid #ccc; 
    background: #fcfcfc;
    outline: none; 
    height:25px;
    width:40px;
  }
  
  .input{
   font-size: 12px; border: 1px solid #ccc; background: #fcfcfc; outline: none; height:25px;
  }
  
  .button{
   -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999;height:25px;
  }