@CHARSET "ISO-8859-1";

BODY{ 
	font-family: 'X', Verdana, Arial, X;
	padding-left:10px;padding-top:5px;margin-left:0px;margin-top:0px;
		}
		
H3{
   color: #7b080a;
    font-size: 16px;
}	

P{
 font-size: 12px;
}	

HR{
	color: black;
}

.small{
    font-size: 10px;
}

.medium{
    font-size: 12px;
}

.big{
    font-size: 14px;
}
.verybig{
    font-size: 17px;
    color: #7b080a;
}