input[type=radio], input[type=checkbox] { margin-left:0px; padding: 0; vertical-align: middle; margin-top: 0px;}

	.form_default select {
		width: 35%;
	}

	.maincontent .left {
		overflow: hidden;
	}

	.myFieldSet
	{
		float:left;
		margin-left: 0%;
	}

	.btnFieldSet
	{
		float:left;
		width:100%;
		background: none;
		border: thin;
        margin-top: 10px;
	}

	div.form_default label {
		width: 38%;
	}

	div.form_default div {
		margin-bottom: 5px;
	}
    .label_td{
        color: #444;
        font-size: 12px;
        padding: 5px;
    }
    .label_value_input{
        padding: 5px 5px !important;
    }
    .label_value_td{
        left: 40px;
        position: relative;
    }
    #lbl_val_tbl{
        width: 300px;
    }
    #lbl_val_tbl td {
        border-bottom: 1px solid #dedede;
    }
    #lbl_val_tbl tr {
        padding: 5px;
    }
    #settings_div{
        overflow: auto;
        padding: 20px;
        box-shadow: 2px 1px 10px #aaa;
    }
    .form_default legend{
        margin-left: 40px;
    }
    .action_btn_icon{
        display:inline;
        padding-right:2px;
    }

    .show_input{
        display: block;
    }
    .hide_input{
        display: none;
    }
    .label_module{
        font-size: 16px;
        background: #ddd;
        margin-top: 20px;
    }