.seg_div{
	background: #265E8A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#87B9E2, #265E8A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#87B9E2, #265E8A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#87B9E2, #265E8A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#87B9E2, #265E8A); /* Standard syntax */
    /*border: 2px solid #75a8d2;*/
    padding-left: 4px;
    font-size: 12px;
}

.brk_div{
	border: 1px solid #b7b7b7;
	display:inline-block;
	width:100%;
	background: #f5f5f5;
}

.brk_bg{
	/*background: #bacfeb;*/
	background: #d0e0f6;
	float: left;
	width:100%;
	padding-left: 5px;
}

 .seg_div .brk_title{
    color: #fff;
 }


 .brk_bg .brk_title{
 	    color: #003767;
 }

 .brk_bg .brk_time{
 	color: #921347;
 }

.brk_time{
	color:white;
	font-style: italic;
	font-size: 11px;
}

.remaining_brk{
	color:#ac4444;
	background-color: #f4f4f4;
	border: 1px solid #9cb8de;
	padding: 0 2px;
	font-size: 11px;
}

.alloc_brk{
	color:#046504;
	background-color: #f4f4f4;
	border: 1px solid #9cb8de;
	padding: 0 2px;
	font-size: 11px;
}

.brk_clip{
	width:100%;
	float:left;
	clear:left;
	border:1px solid #d0d0d8;
	margin: 1px 0;
	padding-left:2px;
	padding-right: 2px;
	font-size: 12px;
}



.clip_dur{
	color:green;
	font-size:11px;
	font-style: italic;
	/*float:right;*/
}

.com_list_container{
	width:48%;float:right;clear:right;border:1px solid #c3c3c3;
}

.com_list_title{
	width:100%;float:left;
}

.each_comm{
	width:100%;
	float:left;
	background-color:#ffff9b;
	padding-left:3px;
	border:1px solid #cece80;
	margin: 3px 0;
	font-size: 12px;
}

.comm_count{
    color: #fff;
    background: #989851;
    padding: 0 5px;
    text-align: right;
    position: absolute;
    right: 15px;
    border-left: 1px solid #81813D;
    border-bottom: 1px solid #81813D;
    min-width: 25px;
}

.yellow{
   background:#ffff9b
}

.blue{
 background: #99d5ff;
}

.openSlot{
	
	padding:3px;
	padding-top:10px;
}
.brk_div_wrapper{
	margin-top: 0 !important;
	margin-bottom: 5px;
}

.title_prepend{
	font-weight: bold;
}
.clip_dur_wrapper{
	float: right;
}

.clip_start_time{
	color: #b50c00;
	padding: 1px;
}

.clip_dur_time{
	padding: 1px;
	margin-right: 10px;
}
.comm_dur_wrapper{
	float: right;
}
.cust_name{
	color:orange;
}
.promo_color {
	background-color: #FFCFFD;
    border: 1px solid #F9A4F5;
}

.promo_color .comm_count{
    color: #fff;
    background: #AF4DAB;
    border-left: 1px solid #A639A2;
    border-bottom: 1px solid #A0329C;
    right: 15px;
}

.del_slot{
	color: #A8A8A8;
	margin: 4px 2px 0 2px;
}

.del_slot i:hover{
	color: #EE5555;
}
.ui-dialog-title {
	font-size: 16px;
}
.brk_icons{
	float: right;
	margin: 5px 5px 0 5px;
	cursor: pointer;
	color: #666;
	position: relative;
	bottom: 3px;
}
.brk_icons.expand{
	display: none;
}
.brk_icons:hover{
	color: #222
}
.right_header_icons{
	float: right;
}
.right_header_icons i{
	margin: 1px 0;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}
#brk_add_form_btn{
	color: #fff;
	background-color: #4490ca;
}
#refresh_program_details{
    margin: 1px 0;
    color: #ddd;
    cursor: pointer;
    padding: 4px;
    background-color: #4490ca;
    border-radius: 4px;
}
#refresh_program_details:hover{
	color: #fff;
}
.placeholder{
	min-width:99%;
	float:left;
	margin:2px;
	padding-left:5px;
	text-align: center;
    /*background-color: #9BF0AA;*/
    border: 2px solid #F5AA20 !important;
}
.nav-wrapper{
	width: 100%;
	float: left;
	background: #f5f5f5;
	border-bottom: 1px solid #afafaf;
	margin-bottom: 5px;
}
.nav-wrapper ul{
	list-style-type: none;
	padding-left: 0;
}
.nav-wrapper ul li{
	display: inline;
	padding: 6px 6px 9px 6px;
    top: 4px;
    position: relative;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.nav-wrapper ul li.active{
    /*border: 2px solid #6FA8D2;*/
    border-bottom: none;
    border-top: none;
    font-weight: bold;
    top: 5px;
    background-color: #ffffe4;
}
.nav-wrapper ul li a{
	text-decoration: none;
}
#filter_commercial{
	background-color: #4490ca;
	padding: 4px;
	margin-right: 10px;
	color: #eee;
	border-radius: 3px;
}
#program_list_combobox{
	background: #e3eef7;
	max-width: 155px;
}
#prgm_date_text{
	position: relative;
	left: 10%;
	font-size: 16px;
	/*background: #c0e9dc;*/
	background: #e8f5ff;
	padding: 4px 5px 2px 5px;
	border: 2px solid #c3c3c3;
	border-top: none;
	font-family: serif;
}
.rem_alloc_right{
	float: right;
}
#filter_input{
	border: 2px solid #dadada;
	padding-left: 3px;
}
.manual_schedule_wrapper {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.ms_add_brk_from_wrapper{
	background-color: #ececec;
	display: none;
	border: 1px solid #afafaf;
	border-top: none;
	box-shadow: 1px 2px 5px #b1b1b1;
}

.ms_form_div label{
	float: left;
	text-align: right;
	min-width:80px;
	max-width: 100px;
}

.ms_form_div input, .ms_form_div select{
	margin-left: 8px;
	text-align: left;
	min-width: 110px;
	max-width: 110px;
}
.ms_form_div .col-md-6{
	padding: 8px 0;
}

.info-icon{
	position: relative;
	margin-right: 8px;
	font-size: 16px;
	top: 2px;
	cursor: pointer;
}

.animate-info-icon{
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}

.draging_item{
	border: 2px solid orange !important;
}

#ms_right_div{
	border: 1px solid #afafaf;
    padding: 0 6px;
    width: 50%;
    float: left;
}
#com_list{
	padding: 10px;
    overflow-y: auto;
    position: relative;
}

#manual_schedule{
	margin-top: 5px;
	padding-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.slots_count {
	background-color: #708a9f !important;
	margin: 0 2px 2px 0;
}
/*.psa_color{
	background-color: #DCECCD;
	border: 1px solid #BDE497;
}

.psa_color .comm_count {
	color: #fff;
	background: #9FBD83;
	border-left: 1px solid #BDE497;
	border-bottom: 1px solid #BDE497;
	right: 15px;
	position: absolute;
}*/
.advt-type-icon{
    padding: 2px 1px 2px 2px;
    font-size: 11px;
}
.seg-icon, .brk-icon, .pgm-icon{
    position: relative;
    left: -6px;
    color: #fff;
}
.seg-icon{
    background-color: #456085;
    border: 1px solid #76a9d3;
}
.pgm-icon{
    background-color: #2e3c4c;
    border: 1px solid #76a9d3;
    left: -8px;
}
.brk-icon{
    background-color: #708a9f;
    border: 1px solid #76a9d3;
}
