
@media print {

	table {
		width: 100%;
		min-width: 1000px;
		border-collapse: collapse !important;
		font-family: "Times New Roman", Times, serif;
		font-size: 18px;
		color:#333;
		position: relative;
		-webkit-print-color-adjust: exact; 
		text-transform: capitalize;
	}

	tr, td, th {
		border: 1px solid #ccc !important;
		-webkit-print-color-adjust: exact; 
		padding: 4px 8px;
		overflow: auto;
		text-align: left;
	}

	.border_0_table tr, .border_0_table td, .border_0_table th {
		border: 0 !important;
	}
}